:root {
  --primaryColor: #fbc534;
  --secondaryColor: #a46ff8;
  --lightSecondaryColor: #f5ecfe;
  --darkerSecondaryColor: #8045dd;
  --primaryFontColor: #fff;
  --secondaryFontColor: #e3c9ff;
  --darkFontColor: #825d08;
  --lightFontColor: #959595;
  --primaryBgColor: #fff;
  --lightBgColor: #f9f5ff;
  --lightBorderColor: rgba(196, 196, 196, 0.569);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--primaryBgColor);
  color: var(--primaryFontColor);
}

/*header*/

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  padding: 3rem 15rem;
}

.header__logo {
  color: var(--primaryColor);
  font-size: 3.2rem;
  font-weight: 800;
  text-decoration: none;
}

.header__nav {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header__nav__link {
  color: var(--secondaryFontColor);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1rem;
}

.header__button {
  background-color: var(--primaryColor);
  color: var(--darkFontColor);
  padding: 1.5rem 2rem;
  box-shadow: 0 0 0 0.3rem var(--lightBorderColor);
}

.main {
  min-height: 100vh;
  overflow: hidden;
}

/*heroSection*/

.main__heroSection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding-block: 12rem 8rem;
  padding-inline: 15rem;
  background: linear-gradient(
    153deg,
    rgba(181, 140, 252, 1) 0%,
    rgba(137, 70, 243, 1) 35%,
    rgba(203, 118, 118, 1) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

.main__heroSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline-start: 0rem;
  display: block;
  width: 100%;
  height: 10rem;
  background-color: var(--lightSecondaryColor);
}

.main__heroSection__txtContainer {
  flex: 1;
  min-width: 37rem;
}

.main__heroSection__txtContainer__title {
  font-size: 5.6rem;
}

.main__heroSection__txtContainer__title > span {
  display: block;
  position: relative;
}

/*Dropping text*/
.dropping-texts {
  position: absolute;
  display: inline-block;
  width: 18rem;
  height: 100%;
  margin-inline-start: 1rem;
}

.dropping-texts > div {
  font-size: 0;
  opacity: 0;
  margin-left: -3rem;
  position: absolute;
  color: var(--primaryColor);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}

.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 2s;
}

.dropping-texts > div:nth-child(3) {
  animation: roll2 5s linear infinite 3.5s;
}

@keyframes roll {
  0% {
    font-size: 0;
    opacity: 0;
    margin-left: -3rem;
    margin-top: 0;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0;
    opacity: 0.5;
    margin-left: 2rem;
    margin-top: 10rem;
  }
  100% {
    font-size: 0;
    opacity: 0;
    margin-left: -3rem;
    margin-top: 0;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0;
    opacity: 0;
    margin-left: -3rem;
    margin-top: 0;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg);
  }
  37% {
    font-size: 50rem;
    opacity: 0;
    margin-left: -100rem;
    margin-top: -80rem;
  }
  100% {
    font-size: 0;
    opacity: 0;
    margin-left: -3rem;
    margin-top: 0;
    transform: rotate(15deg);
  }
}
/**/

.main__heroSection__txtContainer__txt {
  width: 32rem;
  color: var(--secondaryFontColor);
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.main__heroSection__txtContainer__btnContainer {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

.main__heroSection__txtContainer__btnContainer__btn1 {
  background-color: var(--primaryColor);
  color: var(--darkFontColor);
  padding: 1.5rem 2rem;
  box-shadow: 0 0 0 0.3rem var(--lightBorderColor);
}

.main__heroSection__txtContainer__btnContainer__btn2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: transparent;
  color: var(--secondaryFontColor);
}

.main__heroSection__txtContainer__btnContainer__btn2 > svg {
  fill: var(--primaryColor);
  width: 5rem;
  background-color: var(--primaryBgColor);
  padding: 1.5rem;
  border-radius: 50%;
}

.main__heroSection__imgContainer {
  position: relative;
  display: flex;
  align-items: end;
  flex: 1;
}

.main__heroSection__imgContainer__img {
  z-index: 2;
  object-fit: cover;
  width: 90%;
  min-width: 35rem;
  max-width: 40rem;
  margin-inline-start: auto;
}

.main__heroSection__imgContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  z-index: 1;
  display: block;
  width: 70%;
  min-width: 28rem;
  max-width: 37rem;
  aspect-ratio: 0.9;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(181, 140, 252, 1) 50%,
    rgba(137, 70, 243, 1) 100%
  );
  box-shadow: 0 0 0 1.5rem rgba(232, 232, 232, 0.57);
  border-radius: 10rem 10rem 1rem 1rem;
}

/*programSection*/

.main__programSection {
  margin-bottom: 10rem;
}

.main__programSection__titleContainer {
  display: flex;
  gap: 5rem;
  margin-inline: 15rem;
  padding-block: 5rem;
}

.main__programSection__titleContainer__title {
  display: flex;
  align-items: center;
  color: var(--secondaryColor);
}

.main__programSection__titleContainer__title > img {
  width: 5.5rem;
  margin-inline-end: 1rem;
  background-color: var(--secondaryColor);
}

.iconBadge {
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 0.3rem var(--lightBorderColor);
}

.main__programSection__titleContainer__btns {
  margin-inline-start: auto;
}

.main__programSection__titleContainer__btns__btn {
  border-radius: 50%;
  box-shadow: 0 0 0 0.3rem var(--lightBorderColor);
  margin: 1rem;
}

.main__programSection__titleContainer__btns__btn > svg {
  width: 3.5rem;
  margin: 0.5rem;
  vertical-align: top;
  fill: var(--secondaryColor);
}

.main__programSection__cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 15rem;
  background-color: var(--secondaryColor);
  border-radius: 2rem;
  box-shadow: 0 0 0 1.5rem rgba(232, 232, 232, 0.57);
}

.main__programSection__cardsContainer__card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: var(--secondaryColor);
  text-align: center;
  width: clamp(20rem, 25%, 50rem);
  border-radius: 2rem;
  transition: background-color 0.5s ease-in-out, top 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected {
  top: -3rem;
  z-index: 2;
  background-color: var(--primaryColor);
}

.main__programSection__cardsContainer__card::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  border-radius: 2rem;
  transition: background-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  border-radius: 2rem 2rem 0 0;
}

.main__programSection__cardsContainer :first-child::after {
  border-radius: 2rem 2rem 0;
}

.main__programSection__cardsContainer :last-child::after {
  border-radius: 2rem 2rem 2rem 0;
}

.main__programSection__cardsContainer__card__img {
  width: 5rem;
  background-color: var(--darkerSecondaryColor);
  transition: background-color 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected
  > .main__programSection__cardsContainer__card__img {
  background-color: var(--darkFontColor);
}

.main__programSection__cardsContainer__card__title {
  transition: color 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected
  > .main__programSection__cardsContainer__card__title {
  color: var(--darkFontColor);
}

.main__programSection__cardsContainer__card__desc {
  color: var(--secondaryFontColor);
  transition: color 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected
  > .main__programSection__cardsContainer__card__desc {
  color: var(--darkFontColor);
}

.main__programSection__cardsContainer__card__button {
  display: flex;
  gap: 1rem;
  background-color: transparent;
  color: var(--darkFontColor);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.main__programSection__cardsContainer__card-selected
  > .main__programSection__cardsContainer__card__button {
  opacity: 1;
}

.main__programSection__cardsContainer__card__button > svg {
  width: 1.5rem;
  fill: var(--darkFontColor);
}

/*valueSection*/

.main__valueSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-block: 5rem;
  padding-inline: 15rem;
}

.main__valueSection__imgContainer {
  flex: 1;
  position: relative;
  display: flex;
  align-items: end;
}

.main__valueSection__imgContainer__img {
  z-index: 2;
  object-fit: cover;
  width: 90%;
  min-width: 35rem;
  max-width: 45rem;
  margin-inline-end: auto;
}

.main__valueSection__imgContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  inset-inline-start: 3rem;
  z-index: 1;
  display: block;
  width: 70%;
  min-width: 28rem;
  max-width: 42rem;
  aspect-ratio: 0.9;
  background: linear-gradient(
    153deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(181, 140, 252, 1) 50%,
    rgba(137, 70, 243, 1) 100%
  );
  box-shadow: 0 0 0 1.5rem rgba(232, 232, 232, 0.57);
  border-radius: 10rem 10rem 1rem 1rem;
}

.main__valueSection__valuesContainer {
  flex: 1;
}

.main__valueSection__valuesContainer__title {
  display: flex;
  align-items: center;
  color: var(--secondaryColor);
}

.main__valueSection__valuesContainer__title > img {
  width: 5.5rem;
  margin-inline-end: 2rem;
  background-color: var(--secondaryColor);
}

.main__valueSection__valuesContainer__desc {
  color: var(--lightFontColor);
  margin-top: 3rem;
}

.main__valueSection__valuesContainer__valuesWrapper {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.main__valueSection__valuesContainer__valuesWrapper__value {
  flex: 1;
  background-color: var(--lightSecondaryColor);
  padding: 0 3rem 3rem 3rem;
  min-width: 25rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.main__valueSection__valuesContainer__valuesWrapper__value:hover {
  background-color: var(--lightBgColor);
}

.main__valueSection__valuesContainer__valuesWrapper__value__img {
  position: relative;
  top: -2.5rem;
  width: 5rem;
  margin-inline-end: 2rem;
  background-color: var(--secondaryColor);
  transition: background-color 0.2s ease-in-out;
}

.main__valueSection__valuesContainer__valuesWrapper__value:hover > img {
  background-color: var(--primaryColor);
}

.main__valueSection__valuesContainer__valuesWrapper__value__title {
  margin-top: 1rem;
  color: var(--secondaryColor);
}

.main__valueSection__valuesContainer__valuesWrapper__value__desc {
  color: var(--lightFontColor);
  margin-top: 2rem;
}

.main__getStartedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
  margin-block: 5rem;
  margin-inline: 15rem;
  border-radius: 3rem;
  background-color: var(--secondaryColor);
  text-align: center;
  box-shadow: 0 0 0 1.5rem rgba(232, 232, 232, 0.57);
}

.main__getStartedSection__img {
  width: 5.5rem;
  background-color: var(--darkerSecondaryColor);
}

.main__getStartedSection__title {
  color: var(--primaryFontColor);
}

.main__getStartedSection__title > span {
  color: var(--primaryColor);
}

.main__getStartedSection__desc {
  color: var(--secondaryFontColor);
}

.main__getStartedSection__btn {
  background-color: var(--primaryColor);
  color: var(--darkFontColor);
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 0 0.3rem var(--lightBorderColor);
}
